{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Inscription</h1>

    {{ form(registrationForm) }}

    <a href="{{ path('app_login') }}">Vous déjà un compte</a>
{% endblock %}
{% block javascripts %}
        <script src="{{ asset('js/register.js') }}"></script>
{% endblock %}
