
/* ici on def le css de la navbar utilisateur  */
/* penser à crée un css main pour tout regrouper en mettant le prefixe dd_... */

 .dd_navbar .navbar-collapse, .dd_navbar a{
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    color: rgb(255, 255, 255)!important;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.dropdown-menu{
    background: rgba(245, 139, 52, 0.719)!important;
    border-radius: 15px;
}
.dropdown-menu:hover{
    background: rgba(245, 139, 52, 0.568)!important;
} 

.dropdown-item:hover{
    background-color: transparent!important;
}

a:hover{
    color:rgb(0, 0, 0)!important;
}



