{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body class="homeback">
	
</body>
</html>
	<div class="tm-home">
		<h1 class="mt-5 ms-5"><span class="top1 d-flex justify-content-center">Régalez vous avec nos</span><span class="d-flex bord justify-content-end"> cuisiniers à domicile</span></h1>
	</div>
{% endblock %}
