{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
	<div class="tm-home">
		<h1 class="mt-5 ms-5"><span class="top1 d-flex justify-content-center">Régalez vous avec nos</span><span class="d-flex bord justify-content-end"> cuisiniers à domicile</span></h1>
	</div>
{% endblock %}