{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body class="homeback">
	
</body>
</html>
	<div class="tm-home">
	<h1><span class="d-flex top1 justify-content-center ">ON N'EST JAMAIS AUSSI BIEN SERVI</span><span class=" bord d-flex justify-content-end "> que chez soi !</span></h1>
	</div>
{% endblock %}
