{% extends 'base.html.twig' %}

{% block title %}Nouveau menu{% endblock %}

{% block body %}
    <h1>Créer votre menu</h1>

    <h2>Pensez à enregistrer vos produits d'abord en cliquant <a href="{{ path('chef_list_products', { id: app.user.id }) }}">ici</a> !</h2>

    {{ include('menu/_form.html.twig') }}

    <a href="{{ path('menu_list') }}">Retour à la liste des menus</a>
{% endblock %}
